<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <form method="post" action="/">
        <input type="text" pattern="[0-9]+([.][0-9]+)?" maxlength="6" oninput="this.value=this.value.replace(/[^0-9.]/g,'')" name="latitude" step="0.01" required>
        <input type="text" pattern='[0-9]+([.][0-9]+)?' maxlength="6" oninput="this.value=this.value.replace(/[^0-9.]/g,'')" name="longitude" step="0.01" required>
        <button type="submit">SUBMIT</button>
        <button type="reset">RESET</button>
    </form>
</body>
</html> 